:root {
    --border-grey: grey solid 2px;
    --border-white: white solid 2px;
    --border-orange: #DC5F00 solid 2px;
}
p{
    margin:0;
}

body {
    color: rgb(141, 138, 138);
    background-color: rgb(0, 0, 0);
}

.bi {
    color: white;
    font-size: 19px;
}

.title-bar {
    display: flex;
    width: 185px;
    color: white;
    letter-spacing: 5px;
    justify-content: space-between;
    text-align: center;
}

span .line {
    color: #DC5F00;
}

.title-bar span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.title-bar .mk {
    letter-spacing: 8px;
}

span .btn {
    color: #DC5F00;
}

@media (min-width:631px) {}

.dropdown-menu {
    position: absolute;
    z-index: 100;
}

.navbar-toggler {
    border: none;
}

.lower-nav button {
    background-color: rgba(0, 0, 0, 0);
    color: grey;
    border: none;
    border-radius: 0px 20px 20px 0px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.lower-nav input {
    border: none;
    max-width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px 0px 0px 20px;
    color: white;
    border-right: 2px rgb(255, 255, 255) solid;
    padding-left: 15px;
    padding-bottom: 4px;
}

.lower-nav input:focus {
    outline: none;
}

.lower-nav input::placeholder {
    padding: 9px;
}

.lower-nav button:hover {
    color: white;
}

.search-bar {
    display: inline;
    text-align: center;
    background: black;
    border: 1px white solid;
    border-radius: 20px;
}

.lower-nav {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-around;
    padding: 15px 10px;
    background-color: rgb(62, 62, 62);
}

@media (min-width:300px) {
    .lower-nav input {
        max-width: 150px;
    }
}

@media (min-width:768px) {
    body {
        margin: 2%;
    }

    .lower-nav {
        padding: 20px 10px;
    }

    .lower-nav input {
        max-width: 250px;
    }

    .lower-nav button {
        background-color: rgba(0, 0, 0, 0);
        color: grey;
        border: none;
        font-weight: bold;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .lower-nav input {
        border: none;
        background-color: rgb(22, 22, 22);
        color: white;
        border-radius: 5px 0px 0px 5px;
        padding-left: 15px;
        padding-bottom: 5px;
        padding: 1px 0px 5px 10px;
    }

    .lower-nav input:focus {
        outline: none;
    }

    .lower-nav input::placeholder {
        padding: 9px;
    }

    .lower-nav button:hover {
        color: white;
    }

    .search-bar {
        display: inline;
        text-align: center;
        background: black;
        border-radius: 5px;
        border: none;
    }
}

.page-content {
    margin: 0 20px;
}

.carousel img {
    aspect-ratio: 190/100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    margin: 10px;
    border: var(--border-white);
}

.carousel:hover {
    border: var(--border-orange);
}

.carousel-control-next,
.carousel-control-prev {
    display: flex;
    align-items: end;
    padding-bottom: 4px;
}

.carousel-caption h6 {
    padding: 3px 0;
    padding-bottom: 6px;
    background-color: #dc5f00;
    border-radius: 10px;
    border: 2px black solid;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #1f1f1f;
    border-radius: 5px;
}
.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out
}

.carousel-indicators {
    border-radius: 50px;
    padding-top: 0px;
    background-color: #eeee;
    margin-bottom: 8px;
}

.top5-designs {
    display: flex;
    margin: 0 10px;
    overflow-x: scroll;
    align-items: center;
    background-size: cover;
    justify-content: space-between;
}
.top5-designs::-webkit-scrollbar{
    display: none;
}

.side-heading {
    display: flex;
    width: 50%;
    height: 200px;
    color: white;
    padding: 30px;
    background: black;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
    left: 0px;
    position: relative;
}

.top-designs {
    display: flex;
    gap: 15px;
    width: 80%;
}

.design-item {
    border-bottom: var(--border-orange);
    border-right: var(--border-orange);
    border-radius: 5px;
    padding: 5px;
    background-color:black;
}

.design-item img {
    width: 100px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.design-item img:hover {
    transition: all 0.5s ease;
    border-radius: 3px;
    transform:scale(1.05);
}
.design-item-heading{
    display: none;
}
.design-item a{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-decoration:none;
    color: white;
    margin: 0px 5px;
}
.design-item a:hover{
    text-decoration:underline;
}
@media (min-width:769px) {
    .carousel {
        width: 70%;
    }

    .side-heading {
        width: 60%;
        height: 320px;
        position: sticky;

    }
    .design-item img {
        width: 150px;
    margin-bottom: 5px;

    }
    .design-item img h4 {
        margin-bottom: 5px;
    }

    .design-item h4,
    .design-item p {
        display: flex;
    }
}

@media (min-width:1025px) {
    .carousel {
        width: 60%;
    }

    .page-content {
        margin: 0 40px;
    }

    .page-content {
        margin: 0 50px;
    }
}